.text-muted i {
  margin: 0 10px;
}

#publishButton {
  float: right;
}
.img_sn {
  height: 85vh;
}

.imagePost {
  width: 20%;
  height: 30%;
  margin-top: 5px;
}

.likes{
  position: relative;
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #5678ef;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  content: "Seleccionar"; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#src-file1::before {
  content: "Add a picture";
}

@media (max-width: 991px) {
  .file-select {
    margin-bottom: 5px;
  }
}
